

.profile-head {
    transform: translateY(5rem)
}

.profile-cover-box{
    position: relative;
    width: 100%;
}

.profile-cover-box img{
    position: absolute;
    min-height: 20vh;
    height: 30vh;
    width: 100%;
}

.profile-details-div{
    margin-top: 15vh;
}


.follow-btn-profile{
    min-width: 130px;
}

.profile-details{
    flex-direction: column;
    justify-content:end;
    color: black;
}

.profile-details p{
    padding: 0px;
    margin: 0px;
}
