
.post-user-box{
    margin-left: 5px;
}

.card-body-p1{
    text-align: left;
}

.card-body-p2 img{
    width: 100%;
    padding: 0px;
    margin: 0px;
}


@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}